header{
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #fcf7e8;
	margin-bottom: 5px;
}

.title{
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 70px;
}

.subtitle{
	font-family: 'Playfair Display', serif;
	position: relative;
	margin-left: 503.5px;
	margin-right: 523.5px;
	padding-bottom: 10px;
	font-size: 16.7px;
}

p, ul{
	font-family: 'Playfair Display', serif;
	margin-bottom: 20px;
	font-size: 20px;
}

h3{
	font-family: 'Abril Fatface', cursive;
	margin-bottom: 20px;
	font-size: 30px;
}

li{
	padding-bottom: 5px;
}

.entertitle{
	font-family: 'Abril Fatface', cursive;
	font-size: 150px;
	max-height: 400px;
	max-width: 810px;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	padding-bottom: 30px;
	padding-right: 4px;
	background-color: #fcf7e8;
	text-align: center;
	position: fixed;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -80%);
}

.button{
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
	margin-top: 50px;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	padding: 5px;
	background-color: #fcf7e8;
	position: fixed;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, 10%);
}

a:link, a:visited, a:hover {
	color: black;
	text-decoration: none;
}

ul.links, li.links{
	display: inline;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	font-size: 17px;
	padding-right: 20px;
	margin: 0 auto;
	width: 100%;
}
